.place__title{
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
}

@media screen and (max-width: 900px){
  .place__title{
    line-height: 1.1;
    font-size: 42px;
  }
}


@media screen and (max-width: 615px){
  .place__title{
    margin: 0 16px;
    line-height: 1.09;
    font-size: 32px;
  }
}
