.place__image{
  max-width: 100%;
  grid-row: 2 / 3;
}

@media screen and (max-width: 1035px){
  .place__image{
    width: 100%;
  }
}

@media screen and (max-width: 615px){
  .place__image{
    position: relative;
    left: -16px;
    width: calc(100% + 2 * 16px);
    max-width: none;
    grid-row: 3;
  }
}
