.header{
  width: calc(100% - 2 * 48px);
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-bottom: 56px;
}

@media screen and (max-width: 768px){
  .header{
    width: calc(100% - 2 * 24px);
  }
}

@media screen and (max-width: 320px){
  .header{
    width: calc(100% - 2 * 16px);
  }
}
