.cover{
  position: relative;
  width: 1184px;
  margin: 0 auto 92px;
  height: 740px;
}

@media screen and (max-width: 1200px){
  .cover {
    width: 100%;
    height: 62.5vw; /**пропорциональное вычисление высоты к ширине экрана*/
  }
}

@media screen and (max-width: 745px){
  .cover {
    margin: 0 auto 88px;
  }
}

@media screen and (max-width: 510px){
  .cover {
    margin: 0 auto 64px;
  }
}
