.cover__title{
  font-style: normal;
  position: relative;
  text-align: center;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  max-width: 560px;
  margin: 0 auto 32px;
  z-index: 1;
}

@media screen and (max-width: 510px){
  .cover__title{
    line-height: 1.06;
    font-size: 52px;
  }
}

@media screen and (max-width: 385px){
  .cover__title{
    font-size: 32px;
  }
}
