.footer{
  max-width: calc(100% - 2 * 48px);
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
}

@media screen and (max-width: 800px){
  .footer {
    max-width: calc(100% - 2 * 24px);
  }
}

@media screen and (max-width: 760px){
  .footer {
    max-width: calc(100% - 2 * 16px);
  }
}

@media screen and (max-width: 730px){
  .footer {
    display: grid;
    gap: 48px;
  }
}



